<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/print.css' />
</head>
<body>
    <div class="left_warp">
        <textarea id="order_searchData"></textarea>
        <div class="left_btn_warp">
            <div class="btn left_btn c_search" id="searchOrder">查询</div>
            <div class="btn left_btn">清空</div>
        </div>
        <div class="left_list_warp">
            <p>单号列表</p>
            <ul  id="left_orderList">
                <li id="left_orderNumber">1231231230</li>
            </ul>
        </div>
    </div>
    <div class="right_wrap">
        <div class="content_wrap">
            <table>
                <thead class="c_gray">
                <tr class="h_xl ">
                    <td> <img src="/images/text.png"/><span id="orderNumber" style="font-weight: bold; color: rgb(238,106,5);"></span></td>
                    <td style="text-align: right"><img src="/images/arrow.png"/></td>
                </tr>
                </thead>
                <tbody>
                    <tr class="h_xl t_c">
                        <td>
                            <div class="btn action_btn">运单发放</div>
                            <div class="btn action_btn">没有图片</div>
                            <div class="btn action_btn">订单信息</div>
                            <div class="btn action_btn">录单记录</div>
                            <div class="btn action_btn">短信记录</div>
                            <div class="btn action_btn">车辆信息</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="h_xl c_lightGray"><td><div class="s_headWrap" ></div><span id="w_orderNumber_useInfo">333312312312</span> </td><td></td></tr>
                </tbody>
            </table>
            <table>
                <thead class="c_gray t_c">
                    <tr class="h_l f_w">
                        <td>使用网点</td>
                        <td>揽件网点</td>
                        <td>首次发件网点</td>
                        <td>当前OP</td>
                        <td>当前OP网点</td>
                        <td>当前OP时间</td>
                        <td>当前所在地</td>
                        <td>出港中心</td>
                        <td>进港中心</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="h_l t_c">
                        <td id="UseSiteName">广东东莞公司</td>
                        <td></td>
                        <td id="FirstSendSite">广东东莞牛山分部</td>
                        <td></td>
                        <td id="CurrentOpSiteName">福建宁德福鼎公司</td>
                        <td id="CurrentOpTime">2017-07-02 19:57:23</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead class="c_lightGray">
                    <tr class="h_xl ">
                        <td><div class="s_headWrap" ></div> <span id="w_orderNumber_RecordsInfo">333312312312</span></td>
                    </tr>
                </thead>
            </table>
            <table>
                <thead class="c_gray t_c">
                <tr class="h_l f_w">
                    <td>扫描时间</td>
                    <td>扫描网店</td>
                    <td>扫描类型</td>
                    <td>跟踪记录</td>
                    <td>用时</td>
                    <td>扫描员</td>
                    <td>重量</td>
                    <td>班次</td>

                    <td>目的地点</td>
                    <td>包号</td>
                    <td>车签号</td>
                    <td>其他</td>
                    <td>入库时间</td>
                    <td>巴枪ID</td>
                </tr>
                </thead>
                <tbody id="order_records" class="t_c">
                    <tr class="h_l "><td>sdf</td></tr>
                    <tr class="h_l "><td>sdf</td></tr>
                    <tr class="h_l "><td>sdf</td></tr>
                    <tr class="h_l "><td>sdf</td></tr>
                </tbody>
            </table>
        </div>
        <div class="content_wrap">
            <table>
                <thead class="c_gray">
                <tr class="h_xl ">
                    <td> <img src="/images/text.png"/><span id="orderNumber" style="font-weight: bold; color: rgb(238,106,5);"></span></td>
                    <td style="text-align: right"><img src="/images/arrow.png"/></td>
                </tr>
                </thead>
                <tbody>
                <tr class="h_xl t_c">
                    <td><div class="btn action_btn">运单发放</div>
                        <div class="btn action_btn">没有图片</div>
                        <div class="btn action_btn">订单信息</div>
                        <div class="btn action_btn">录单记录</div>
                        <div class="btn action_btn">短信记录</div>
                        <div class="btn action_btn">车辆信息</div></td>
                </tr>
                <tr class="h_xl c_lightGray"><td><div class="s_headWrap" ></div><span id="w_orderNumber_useInfo">333312312312</span> </td></tr>
                </tbody>
            </table>
            <table>
                <thead class="c_gray t_c">
                <tr class="h_l f_w">
                    <td>使用网点</td>
                    <td>揽件网点</td>
                    <td>首次发件网点</td>
                    <td>当前OP</td>
                    <td>当前OP网点</td>
                    <td>当前OP时间</td>
                    <td>当前所在地</td>
                    <td>出港中心</td>
                    <td>进港中心</td>
                </tr>
                </thead>
                <tbody>
                <tr class="h_l t_c">
                    <td id="UseSiteName">广东东莞公司</td>
                    <td></td>
                    <td id="FirstSendSite">广东东莞牛山分部</td>
                    <td></td>
                    <td id="CurrentOpSiteName">福建宁德福鼎公司</td>
                    <td id="CurrentOpTime">2017-07-02 19:57:23</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead class="c_lightGray">
                <tr class="h_xl ">
                    <td><div class="s_headWrap" ></div> <span id="w_orderNumber_RecordsInfo">333312312312</span></td>
                </tr>
                </thead>
            </table>
            <table>
                <thead class="c_gray t_c">
                <tr class="h_l f_w">
                    <td>扫描时间</td>
                    <td>扫描网店</td>
                    <td>扫描类型</td>
                    <td>跟踪记录</td>
                    <td>用时</td>
                    <td>扫描员</td>
                    <td>重量</td>
                    <td>班次</td>

                    <td>目的地点</td>
                    <td>包号</td>
                    <td>车签号</td>
                    <td>其他</td>
                    <td>入库时间</td>
                    <td>巴枪ID</td>
                </tr>
                </thead>
                <tbody id="order_records" class="t_c">
                <tr class="h_l "><td>sdf</td></tr>
                <tr class="h_l "><td>sdf</td></tr>
                <tr class="h_l "><td>sdf</td></tr>
                <tr class="h_l "><td>sdf</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/javascripts/print.js"></script>
</html>
